<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hoppy Bunny.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>351196351F16A09C00B1F9CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3511964F1F16A09D00B1F9CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3511965A1F16A09D00B1F9CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
